/* Header */
#head {
  background-color: black;
  background-size: cover;
  min-height:480px;
  text-align: center;
  padding-top:200px;
  color:white;
  font-family:"Open sans", Helvetica, Arial;
  font-weight:300;
}

#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top:0px;
}

#head .lead {
  font-family:"Open sans", Helvetica, Arial;
  font-size:44px;
  margin-bottom:6px;
  color:white;
  line-height:1.15em;
}

#head .tagline {
  color:rgba(255,255,255,0.75);
  margin-bottom:40px;
  font-weight: bold;
}

#head .tagline a { color:#fff; }
#head .btn { margin-bottom:10px; }

#head .btn-default {
  text-shadow: none;
  background:transparent;
  color:rgba(255,255,255,.5);
  -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
  box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
  background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
  color:rgba(255,255,255,.8);
  -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
  -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
  box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
  background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
  color:#fff;
  -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
  -moz-box-shadow:inset 0px 0px 0px 3px #fff;
  box-shadow:inset 0px 0px 0px 3px #fff;
  background: transparent;
}

@media (max-width: 767px) {
  #head {
    min-height:420px;
    padding-top:160px;
  }
  #head .lead { font-size: 34px; }
}

@media (min-width: 768px) and (max-width: 1199px){
  .nav > li > a {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

@media (min-width: 1200px){
  .nav > li > a {
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
.h-caption { text-align: center; }
.h-caption i {
  display:block;
  font-size: 54px;
  color:#382526;
  margin-bottom:10px;
}

.h-caption h4 { color:#382526;
font-size: 16px;
font-weight: bold;
margin-bottom:10px;
}
	.h-body { }

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    /*-webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;*/
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
/*    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px; */
}



.infoBoxSubtitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.infobox {
  border: 1px solid black;
  padding: 15px;
}

.infobox td {
  padding-left: 15px;
}


/* Typography */
body, table, div, p, dl, a, ul, span, li, ol { font-family: lato !important; }
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; }

ul.list-spaces li { margin-bottom:10px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }

blockquote {
  font-style: italic;
  font-family: Georgia;
  color:#999;
  margin:30px 0 30px;
}

label { color: #777; }


.memSeparator { padding: 0px !important; }
.tablist {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 5px;
}

.directory .levels span {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  color: #3D578C;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn {
  padding: 6px;
}

#top {
  margin-top: 25px;
  min-height: 720px;
}

#navrow1, #navrow2, #navrow3, #navrow4, #navrow5 { border-bottom: 1px solid #EEEEEE; }

#map {
  width:100%;
  height:100px;
}

#social {
  margin-top:50px;
  margin-bottom:50px;
}

#social .wrapper {
  width:340px;
  margin:0 auto;
}

.thin { font-weight:300; }
.page-title {
  margin-top:20px;
  font-weight:300;
}
.text-muted { color:#888; }
.breadcrumb {
  background:none;
  padding:0;
  margin:30px 0 0px 0;
}

.doc_content {
  border: 1px solid #ddd;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Helpers */
.container-full {
  margin: 0 auto;
  width: 100%;
}

.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }


.btn-primary:hover { color: black; }

.invalid { text-decoration: underline red; }

/* Sidebars */
.sidebar { padding-top:36px;
padding-bottom:30px;
}
	.sidebar .widget { margin-bottom:20px;
}
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px;
}

.carousel
{
    background: #2f572f ; /*2f4357;*/
    margin-top: 40px;
}

.carousel .item
{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img
{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel h1, .carousel p
{
  /*background: none repeat scroll 0 0 #ffffff;*/
  background: rgba(255, 255, 255, .5);
  border: 1px solid #6F257F;
  border-radius: 15px;
}

.carousel p {
  color: black;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;     /* Hidden by default. Visible on click */
  min-width: 250px;       /* Set a default minimum width */
  margin-left: -125px;    /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff;            /* White text color */
  text-align: center;     /* Centered text */
  border-radius: 2px;     /* Rounded borders */
  padding: 16px;          /* Padding */
  position: fixed;        /* Sit on top of the screen */
  z-index: 1;             /* Add a z-index if needed */
  left: 50%;              /* Center the snackbar */
  bottom: 30px;           /* 30px from the bottom */
  border: 1px solid white;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.bs-example
{
	margin: 20px;
}

/* Footer */
.footer1 { background: #232323;
padding: 15px 0 0 0;
font-size: 12px;
color: #999;
}
	.footer1 a { color: #ccc;
}
		.footer1 a:hover {color: #fff;
}
  .footer1 .navbar-form { padding-left: 0px;
}
	.footer1 .widget { margin-bottom: 5px;
}
	.footer1 .widget-title { font-size: 17px;
font-weight: bold;
color: #ccc;
margin: 0 0 5px;
}
	.footer1 .entry-meta { border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
margin: 0 0 35px 0;
padding: 2px 0;
color: #888888;
font-size: 12px;
font-size: 0.75rem;
}
		.footer1 .entry-meta a { color: #333333;
}
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 10px 0;
}
	.follow-me-icons { font-size:30px;
}
		.follow-me-icons i { float:left;
margin:0 10px 0 0;
}

.footer2 { background: #191919;
padding: 15px 0;
color: #777;
font-size: 12px;
}
	.footer2 a { color: #aaa;
}
		.footer2 a:hover { color: #fff;
}
		.footer2 p { margin: 0;
}

	.widget-simplenav { margin-left:-5px;
}
	.widget-simplenav a{ margin:0 5px;
}
